<div class="chatroom-container">

    <div class="left sidebar">

        <div class="stuckbar logo" ng-click="largeCourseView=false">
            <img src="img/logo2.png"> Trofir
        </div>

        <ul class="course-list">
            <div class="search-courses">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search..." ng-model="courseQuery" ng-focus="largeCourseView=true">
                <i class="fa fa-times-circle" ng-hide="!largeCourseView" ng-click="largeCourseView=false; courseQuery=null;"></i>
            </div>


              <li class="course-option" ng-hide="largeCourseView" ng-repeat="courseOption in myCourses">
                  <a href="/#/princeton/{{ courseOption._id }}" ng-class="{'selected': course._id == courseOption._id }">
                      {{ courseOption.name_tech | limitTo:7 }}
                  </a>
              </li>


            <li class="course-option" ng-hide="!largeCourseView" ng-repeat="courseOption in allCourses | filter:courseQuery | orderBy:'name'" ng-click="newCourseSelect(courseOption);">
                <a href="/#/princeton/{{ courseOption._id }}" ng-class="{'selected': {{ course._id == courseOption._id }} }">
                    {{ courseOption.name_tech | limitTo:7 }}
                </a>
            </li>


        </ul>

        <div class="course-users" style="text-align: center" ng-hide="largeCourseView">
            <ul class="user-list online-users">
                <li class="user" ng-repeat="user in courseUsers.online.slice().reverse()">
                    <div class="user-avatar"><img src="{{ user.avatar_url }}"></div>
                    <div class="user-username" title="{{ user.username }}">{{ user.username }}</div>
                </li>
            </ul>

            <ul class="user-list offline-users">
                <li class="user" ng-repeat="user in courseUsers.offline.slice().reverse()">
                    <div class="user-avatar offline"><img src="{{ user.avatar_url }}"></div>
                    <div class="user-username" title="{{ user.username }}">{{ user.username }}</div>
                </li>
            </ul>
        </div>




    </div>

    <!-- <div class="right sidebar" ng-click="largeCourseView=false" >

        <i class="fa fa-line-chart"></i>

        <ul class="top-content">
            <li class="top-post" ng-repeat="topPost in topPosts" ng-include src="'./views/partials/top-post.html'">
            </li>
        </ul>

    </div> -->

    <div class="course-header" ng-click="largeCourseView=false" >
        {{ course.name }}
    </div>

    <div class="chat-box" ng-click="largeCourseView=false" scroll-glue>

        <div class="messages-container">
            <chat-msg ng-repeat="message in allMessages" message="message"></chat-msg>
        </div>

        <ul class="users-typing">
        </ul>

        <span class="users-typing-suffix">
            <span class="to-be is"> is</span><span class="to-be are"> are</span> typing...
        </span>

    </div>

    <form class="message-form" ng-submit="sendMessage()" ng-click="largeCourseView=false" >
        <input ng-model="messageData.content" type="text" class="send-message" name="send-message" placeholder="Send a message..." autocomplete="off">
    </form>
</div>
<!-- move into service later -->
<script>
function socketLikeMsg($this, m_id) {
  var unlike = $($this).hasClass('selected');

  var incAmt = 0;
  // like post
  if (!unlike) {
      $rootScope.myLikes.push(m_id);
      incAmt = 1;
      $($this).addClass('selected');
  }
  // unlike post
  else {
      $rootScope.myLikes.splice($rootScope.myLikes.indexOf(m_id), 1);
      incAmt = -1;
      $($this).removeClass('selected');
  }

  $http.put('/api/users/' + $rootScope.my_id, { liked_message_ids: $rootScope.myLikes })
  .then(function(res) {
      console.log(res);
  });

  $http.put('/api/messages/' + m_id, { inc_amt: incAmt })
  .then(function(res) {
      console.log(res);
  })
}

</script>
