<style>
.overlay {
	position: absolute; top: 0; left: 0;
	width: 100%; height:100%; background-color: rgba(0,0,0,0.9); z-index:1;
}
.cover-photo {
	background-image:url('http://i.huffpost.com/gen/1265935/images/o-COLLEGE-CLASS-facebook.jpg');
	background-position:center top;
	background-repeat:no-repeat;
	position: absolute; top: 0; left: 0;
	width: 100%; height:100%; background-color: rgba(0,0,0,0.85);
}
.splash-logo {
	z-index: 10; position: absolute; width: 100%;
	top: 10px;  left: 0;
	text-align: center; color: white; font-family: 'Open Sans', sans-serif;
}
.splash-logo > img {
	height: 300px;
}
.get-started {
	position: absolute;
	width: 400px;
	left: 50%;
	margin-left:-200px;
	line-height: 80px;
	bottom: 0px;
	border-radius: 5px;
}
.get-started > a:hover {
	background: rgba(135, 183, 42, 1);
	color: #0C3F46;
}
.get-started > a {
	display: block;
	height: 100%;
	width: 100%;
	cursor: pointer;
	color: inherit;
	background: #0C3F46;
	color: rgba(135, 183, 42, 1);
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 5px;
}
a:hover, a:visited, a:focus {
	color:inherit;
}
</style>

<div class="overlay"></div>
<div class="cover-photo"></div>
<div class="splash-logo">
	<img src="img/splash-logo.png" style="height: 500px">
	<div class="get-started">
		<a href="#/princeton/56425ed65a66b7c228f34c2d">
			Bring me to a random COS course!
		</a>
	</div>
</div>
