<div class="right sidebar">

    <i class="fa fa-line-chart"></i>
    <ul class="top-content">
        <li class="top-post" ng-repeat="topPost in topPosts">

            <div class="course-link">
                <a href="/#/princeton/{{ topPost.course_id._id }}">{{ topPost.course_id.name_tech | limitTo:7 }}</a>
            </div>

            <div class="score">
                {{ topPost.score }}
            </div>

            <br>
            <font color="#87B72A">{{ topPost.user_id.username }}</font>:
            {{ topPost.content }}
        </li>
    </ul>
</div>
